git+https://github.com/youesky/pyrogram
# --- For-Bot-Working --------- #
pyrogram
pyrofork==2.3.38
TgCrypto
pyromod==1.5
schedule
APscheduler
# --- For-Database ------------ #
pymongo
python-dotenv
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio